
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */


:root{
    --a:0;
    --b:70px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1550px;
    margin-inline: auto;
    background-color: black;
    color: white;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;          
}


.left{
    height:98vh;
    width:25vw;
    padding-left:5px ;
    position: relative;
}
    
.right{
    max-width: 1550px;
    width:75vw;
    height: 98vh;
    position: relative;
    margin: 5px;
}

.close{
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

.home{
    height: 20%;
}

.home  li { display: flex;
    width: 20px;
    list-style: none;
    gap: 15px;
    margin-top:15px ;
}

.library{
    min-height: 80%;
    position: relative;
}

.heading{
    display: flex;
    margin-top:15px ;
    gap:15px;
    align-items: center;
    padding-left: 12px;
    font-size: 15px;
}

.heading img {
   width: 25px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 10px;
    position: absolute;
    bottom: 10px;
}

.footer a{
    color: gray;
}

.header{
    display: flex;
    justify-content: space-between;
     background-color: rgb(34,34,34);
}

.header > *{
    padding :20px;
}

.home-2{
    width: 40px;
    background-color: black;
    height: 40px;
    border-radius: 50%;
    padding: 7px;
}

.menu{
     display: none;
     width: 40px;
}

.spotify-playlists{
    padding: 10px;
}

 .card-container{
    display: flex ;
    gap:10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
 }

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color:#252525;
    position: relative;
    cursor: pointer;
    transition: all .5s;
}

.card:hover {
    --a:1;
    background-color: #464444;
    --b:80px;   
 }

.card > *{
    padding-top :10px ;
}

.card img{
    object-fit: contain;
    width: 100%;
    pointer-events: none;
}

.card p {
    font-size: 12px;
    color: rgb(202, 189, 189);;
}

.play{
    width:40px;
    position:absolute;
    bottom: var(--b);
    right: 15px;
    opacity: var(--a);
    transition: all .5s ease-out;    
}
 

.singinbtn{
     font-size: 16px;
     color:rgb(163, 153, 153);
     width: 70px;
     height: 40px;
     background-color: transparent;
     border: none;
     margin-right: 10px;
     font-weight: 600;
}

.singinbtn:hover{
     cursor: pointer;
     color: white;
     scale: 1.1;
}

.loginbtn{
      width: 85px;
      height: 45px;
      background-color: rgb(168, 161, 161);
      border-radius: 100px;
      border: none;
      font-size: 16px;
      font-weight: 505;
      
}

.loginbtn:hover{
    font-weight: 510;
    scale: 1.1;
    cursor: pointer;
    background-color: white;

}

.playbar{
    background-color: #252525;
    width: 95%;
    margin-inline:20px;
    height: 70px;
     position: absolute;
     bottom: 40px;
     display: flex;
     justify-content: space-between;
     padding: 0 20px;
     align-items: center;    
     border-radius: 30px;
     
}


.song-botton img {
    cursor: pointer;
    margin: 0 5px;
}


.songslist{
    height: 400px;
    overflow: auto;
}

.library ol{
    padding: 0 10px;
    margin-top: 50px;
}

.library ol li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    padding: 5px ;
    gap: 10px;
    cursor: pointer;
    border: 1px solid white;
    margin: 10px 0 ;
    border-radius: 10px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap :5px;
    font-size: 12px;

} 

.songinfo{
    font-size: 12px;
}

.seekbar{
    height: 4px;
    width: 95%;
  background-color:  white;
   position: absolute;
   bottom: 5px;
   accent-color:red;
   border-radius: 10px;
   cursor: pointer;
}

.seekbar:hover{
    height: 6px;
}
.volumebar{
    accent-color:rgba(251, 255, 0, 0.822);
    cursor: pointer;
}





@media (max-width: 1300px) {
   .left{
    position: absolute;
    left: -200%;
    z-index: 1;
    transition: all .3s ;
    width: 320px;
   }

   .right{
    width:100vw;
    height: 98vh;
   }

   .home-2{
    display: none;
   }
 
   .menu{
    display: block;
   }

   .close{
    display: block;   
   }

   .playbar{
    background-color:rgba(0, 0, 0, 0.445);
   }
}


@media (max-width: 750px){
         .playbar{
            height: 70px;
         }
      .song-info{
        font-size: 12px;
      }
   
    .seekbar{
        width: 90%;
    }

    .song-info{
        margin-top: 10px;
    }

    .timeVol{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .playbar{
        height: 130px;
        margin-inline:5px ;
        flex-direction: column;
    }
    
}


@media (max-width: 500px) {

    .card-cantaner{
        justify-content: center;
        margin: 0;
        margin-top: 30px;
    }
    .card{
        width: 90vw;
    }

    .timeVol{
        margin-bottom: 20px;
    }
   

    .song-time{
        font-size: 12px;
       
    }

    .spotify-playlists {
        padding: 0;
    }

    .song-info{
        margin-top: 5px;
    }

    .right{
        margin: 0;
    }
}



@media (max-width: 330px){

    .left{
        width:90vw;
       padding-left:0px;
    }

    .singinbtn{
        font-size: 12px;
        color:rgb(163, 153, 153);
        width: 60px;
        height: 35px;
        margin-right: 8px;
   }
 
   
   .loginbtn{
         width: 70px;
         height: 35px;
         font-size: 12px;   
   }


}

